div#error-wrapper {
	margin:auto;
	font-size:30px;
	font-family: Arial, Helvetica;
	color:#4A4E69;
}

button#error-button {
	background-color:#4A4E69;
	padding:15px 20px 15px 20px;
	display:block;
	margin:0 auto;
	font-size:15px;
	text-decoration:none;
	border:none;
	margin-top:50px;
	border-radius:3px;
	color:white;
	cursor:pointer;
}